@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primer: #3B2416;
  --color-sekunder: #6F4E37;
  --color-tersier: #D4A373;
  --color-base: #F8F6F3;
  /* default font */
  --font-sans: var(--font-outfit), sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F6F3;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}