@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #FAF7F2;
  --foreground: #FAF7F2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primer: #2563EB;
  --color-sekunder: #4E342E;
  --color-back: #FAF7F2;
  /* default font */
  --font-sans: var(--font-outfit), sans-serif;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8F6F3;
    --foreground: #F8F6F3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}